:root{
    --Orange: hsl(26, 100%, 55%);
    --Pale-orange: hsl(25, 100%, 94%);

    --Very-dark-blue: hsl(220, 13%, 13%);
    --Dark-grayish-blue: hsl(219, 9%, 45%);
    --Grayish-blue: hsl(220, 14%, 75%);
    --Light-grayish-blue: hsl(223, 64%, 98%);
    --White: hsl(0, 0%, 100%);
    /* with 75% opacity for lightbox background */
    --Black: hsl(0, 0%, 0%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
}

html {
    position: relative;
}
nav,.links,.links ul,.links ul li,.profile ,main,.product-images,.thumbnails,.product-details,.prices,.cart-details,.prices,.price, .cart-details, .items,.items div,.cart-details button, .cart, .cart > div, .infos, #lightbox.clicked, .empty-msg, .cart-img{
    display: flex;
}
nav,.items, .items div{
    align-items: center;
}
nav{
    justify-content: space-between;
    height: 20vh;
    width: 80vw;
    margin: 0 auto;
    border-bottom: 2px solid var(--Light-grayish-blue);
}
.profile img, .main-image,.links ul li ,.thumbnails img, .items div, button, .delete, .links ul img{
    cursor: pointer;
}
.links, main, .links ul li, .cart > div,.profile,.cart-details button ,#lightbox.clicked, .empty-msg, .cart-img{
    justify-content: center;
    align-items: center;
}
.links,.profile,.product-images,.prices, .cart{
    gap: 2rem;
}
.links ul li{
    height: 20vh;
}
.links ul li, li a{
    text-decoration: none;
    list-style: none;
    color: var(--Black);
    padding: 0 .5rem;
    opacity: 70%;
}
.links ul img, .tab{
    width: 1rem;
    margin: 1rem;
    display: none;
}
li:hover{
    opacity: 100%;
    border-bottom: 2px solid var(--Orange);
}
.picture img{
    width: 3rem;
    border-radius: 50%;
}
.picture img:hover, .active{
    border: 2px solid var(--Orange);
}
main{
    margin: 2rem auto;
    width: 80vw;
}
.product-images, .product-details, .prices, .cart, .infos{
    flex-direction: column;
}
.product-images{
    width: 50%;
}
.thumbnails{
    justify-content: space-between;
    width: 80%;
}
.main-image{
    height: 80%;
    width: 80%;
    border-radius: 1rem;
}
.thumbnails img,.cart-details button, .cart button, .items,.cart, .cart-img span{
    border-radius: .5rem;    
}
.thumbnails img{
    width: 20%;
}
.thumbnails img:hover, .items div:hover, button:hover, .active, .delete:hover{
    opacity: 60%;
}
.product-details{
    justify-content: space-around;
    height: 65vh;
    width: 40%;
}
.product-details > p, .heading p, .prices{
    margin: 2rem 0;
}
.product-details > p{
    line-height: 2rem;
    opacity: 80%;
}
.heading p, .price p:first-child, .price p:last-child,.items span ,button, .cart > p, .total, .profile span, .cart-img span{
    font-weight: bold;
}
.heading p{
    color: var(--Orange);
}
.heading h2{
    font-size: 2.5rem;
}
.price, .cart-details, button, .cart > div, .infos{
    gap: 1rem;
}
.price p:first-child{
    font-size: 1.5rem;
}
.price p:last-child{
    background-color: var(--Pale-orange);
    color: var(--Orange);
    height: fit-content;
    width: fit-content;
    text-align: center;
    padding: .3rem .5rem;
}
.discount{
    opacity: 80%;
    text-decoration: line-through;
}
.items{
    justify-content: space-between;
    background-color: var(--Light-grayish-blue);
    width: 8rem;
    height: 3rem;
    padding: 0 .5rem;
}
.items div{
    height: 100%;
}
.cart-details button, .cart button{
    background-color: var(--Orange);
    color: var(--White);
    padding: 0 3rem;
    border: none;
    outline: none;
    font-size: 1rem;
}

/* Cart section styling */
.cart-content{
    padding: 1rem 0 0;
}
.cart{
    height: 16rem;
    width: 22rem;
    background-color: var(--White);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .3);
    padding: 0 1rem;
    z-index: 10;
    position: absolute;
    top: 5%;
    right: 15%;
    transition: .25s;
    transform-origin: top right;
    /* display: none; */
    transform: scale(0);
}
.cart.open{
    /* display: block; */
    transform: scale(1);
}
.cart div img:first-child{
    width: 3rem;
}
.cart > p{
    border-bottom: 2px solid var(--Light-grayish-blue);
    padding: 1rem 0;
}
.cart button, .cart-details button{
    /* width: 100%; */
    padding: 1rem 3rem;
}
.cart-img > span{
    display: none;
    color: var(--White);
    background-color: var(--Orange);
    width: 1.5rem;
    height: 1.1rem;
    position: absolute;
    top: 4.4%;
    text-align: center;
}
.empty-msg{
    height: 50%;
    opacity: 70%;
}
/* Lightbox design */
#lightbox{
    display: none;
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, .8);
}

div.overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgb(0 0 0 / .4); 
    display: none;   
}

div.overlay.active {
    display: block;
}

@media screen and (max-width: 375px) {
    nav{
        height: 12vh;
        width: 90vw;
    }
    .links, .links ul,main, .cart-details{
        flex-direction: column;
    }
    .profile, .links{
        gap: 1rem;
    }
    .links ul{
        background-color: var(--White);
        z-index: 1;
        position: fixed;
        top: 0;
        left: 0;
        width: 60vw;
        height: 100vh;
        transition: .25s;
        transform: scale(0);
        transform-origin: top left;
    }
    .links ul.show-ul{
        transform: scale(1);
    }
    .links ul img, .tab{
        display: block;
    }
    .links ul li{
        height: 3rem;
        font-weight: bold;
        opacity: 100%;
    }
    .picture img{
        width: 2.5rem;
    }
    .thumbnails{
        display: none;
    }
    .main-image{
        height: 100%;
    }
    .product-details{
        height: auto;
        width: 100%;
        justify-content: center;
    }
    .heading h2{
        font-size: 2rem;
    }
    .prices{
        flex-direction: row;
    }
    .cart{
        width: 18rem;
    }
    .cart-details > div{
        width: 100%;
    }
    .cart-img > span{
        top: 1%;
    }
}