:root{
    --Orange: hsl(26, 100%, 55%);
    --Pale-orange: hsl(25, 100%, 94%);

    --Very-dark-blue: hsl(220, 13%, 13%);
    --Dark-grayish-blue: hsl(219, 9%, 45%);
    --Grayish-blue: hsl(220, 14%, 75%);
    --Light-grayish-blue: hsl(223, 64%, 98%);
    --White: hsl(0, 0%, 100%);
    /* with 75% opacity for lightbox background */
    --Black: hsl(0, 0%, 0%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
}
nav,.links,.links ul,.profile,main,.product-images,.thumbnails,.product-details,.prices,.cart-details,.prices,.price, .cart-details, .items,.items div, button{
    display: flex;
}
nav,.profile, .items, button, .items div{
    align-items: center;
}
nav{
    justify-content: space-between;
    height: 20vh;
    width: 80vw;
    margin: 0 auto;
    border-bottom: 2px solid var(--Light-grayish-blue);
}
.profile img, .main-image, .thumbnails img, .items div, button{
    cursor: pointer;
}
.links,.profile,.product-images,.prices{
    gap: 2rem;
}
.links ul li, li a{
    text-decoration: none;
    list-style: none;
    color: var(--Black);
    padding: 0 .5rem;
    opacity: 70%;
}
li a:hover{
    opacity: 100%;
    border-bottom: 4px solid var(--Orange);
}
.profile img:last-child{
    width: 3rem;
}
main{
    margin: 4rem auto;
    width: 80vw;
}
.product-images, .product-details, .prices{
    flex-direction: column;
}
.product-images{
    width: 50%;
}
.thumbnails{
    justify-content: space-between;
    width: 80%;
}
.main-image{
    height: 80%;
    width: 80%;
    border-radius: 1rem;
}
.thumbnails img{
    width: 20%;
    border-radius: .5rem;
}
.product-details{
    justify-content: space-around;
    height: 65vh;
    width: 40%;
}
.product-details > p, .heading p, .prices{
    margin: 2rem 0;
}
.product-details > p{
    line-height: 2rem;
    opacity: 80%;
}
.heading p, .price p:first-child, .price p:last-child,.items span ,button{
    font-weight: bold;
}
.heading p{
    color: var(--Orange);
}
.heading h2{
    font-size: 2.5rem;
}
.price, .cart-details, button{
    gap: 1rem;
}
.price p:first-child{
    font-size: 1.5rem;
}
.price p:last-child{
    background-color: var(--Pale-orange);
    color: var(--Orange);
    height: fit-content;
    width: fit-content;
    text-align: center;
    padding: .3rem .5rem;
}
.discount{
    opacity: 80%;
    text-decoration: line-through;
}
.items{
    justify-content: space-between;
    background-color: var(--Light-grayish-blue);
    width: 8rem;
    height: 3rem;
    padding: 0 .5rem;
    border-radius: .5rem;
}
.items div{
    height: 100%;
}
button{
    background-color: var(--Orange);
    color: var(--White);
    padding: 0 3rem;
    border: none;
    outline: none;
    font-size: 1rem;
    border-radius: .5rem;
}